{% set title = video.title %}

{% extends "_layout.html" %}

{% block content %}

<h1>{{ video.title }}</h1>

<video width="100%" controls
    src="{{ url_for('stream_data_file', path=video.path) }}">
</video>

{% if g.is_admin %}
<div class="input-group">
    <input id="clipboard" value="{{ url_for('video', rel_path=video.path, token=token, _external=True) }}" type="text" disabled="true" class="form-control" aria-label="Share link" aria-describedby="button-share">
    <button onclick="copyText()" class="btn btn-outline-secondary" type="button" id="button-share">Copy share link</button>
</div>
{% endif %}

{% if video.route %}
<img width="100%" src="{{ url_for('media.static', filename=video.route) }}" alt="">
{% endif %}

{% endblock %}

{% block extracss %}
<style>
video, img, .input-group {
    max-width: 1024px;
}
</style>
{% endblock %}
