{% for videos in rows %}
<div class="row videos"
    {% if loop.last %}
    hx-get="{{ url_for('index') }}?page={{ page + 1 }}"
    hx-trigger="revealed"
    hx-swap="afterend"
    hx-include=".form"
    {% endif %}
>
    {% for video in videos %}
    <div class="col-sm-4">
        <div class="card">
            <a href="{{ url_for('video', rel_path=video.path) }}">
            <img src="{{ url_for('media.static', filename=video.thumbnail) }}" alt="{{ video.path }}" class="card-img-top">
            </a>
            <div class="card-header">
                <strong>
                    {% if video.route %}🗺&nbsp;{% endif %}
                    {{ video.title }}
                </strong>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ video.created_at|datetimeformat }}</li>
                <li class="list-group-item">{{ video.duration|durationformat }}</li>
                <li class="list-group-item">
                    {% for tag in (video.tags|fromjson or {}) %}
                    <span class="badge bg-secondary">{{ tag }}</span>
                    {% endfor %}
                </li>
            </ul>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}
