Flask
jinja-partials
minicli
ffpb
gunicorn
ffmpeg-python
humanize
more-itertools

-e git+https://github.com/abulte/pygpmf.git#egg=gpmf
# dependencies from above, pb installing through github?
numpy
pandas
gpxpy
ffmpeg-python
geopandas
contextily
descartes
