{% set title = "Videos" %}

{% extends "_layout.html" %}

{% block content %}
<form class="row form align-items-center" hx-get="/" hx-target="#videos" hx-push-url="true">
    <div class="col-auto">
        <input name="start" type="date" class="form-control" placeholder="Start" aria-label="Start" value="{{ start }}">
    </div>
    <div class="col-auto">
        <input name="end" type="date" class="form-control" placeholder="End" aria-label="End" value="{{ end }}">
    </div>
    <div class="col-auto">
        <div class="form-check">
            <input name="route" class="form-check-input" type="checkbox" id="route"
                {% if route %}checked=""{% endif %}>
            <label class="form-check-label" for="route">
                🗺
            </label>
          </div>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

<div id="videos">
    {{ render_partial("partials/videos.html", rows=rows, page=page) }}
</div>

{% endblock %}
