{% set title = "Videos" %}

{% extends "_layout.html" %}

{% block content %}
<h1>Videos</h1>
<div class="row videos align-items-center">
    <div class="col-auto">
        <input type="date" class="form-control" placeholder="Start" aria-label="Start" value="{{ first_date }}">
    </div>
    <div class="col-auto">
        <input type="date" class="form-control" placeholder="End" aria-label="End" value="{{ isodatetoday() }}">
    </div>
    <div class="col-auto">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
                🗺
            </label>
          </div>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</div>
{% for videos in rows %}
<div class="row videos">
    {% for video in videos %}
    <div class="col-sm-6">
        <div class="card">
            <a href="{{ url_for('video', rel_path=video.path.relative_to(root)) }}">
            <img src="{{ url_for('media.static', filename=video.path.with_suffix('.jpg').relative_to(root)) }}" alt="{{ video.path.relative_to(root) }}" class="card-img-top">
            </a>
            <div class="card-header">
                <strong>
                    {% if video.path.with_suffix('.route.png').exists() %}🗺&nbsp;{% endif %}
                    {{ video.path.stem }}
                </strong>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ video.metadata.tags.creation_time|datetimeformat }}</li>
                <li class="list-group-item">{{ video.metadata.duration|durationformat }}</li>
            </ul>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock %}
